.navbar-custom{
    position: absolute;
    top: 0;
    width: 100%;
}
.navbar a{
    color: white;
    font-weight: bold;
}
.nav li a:hover{
    background: black;
}
header{
    height: 450px;
    color: white;
    padding: 150px 0;
}
header h1{
    font-size: 50px; 
    text-shadow: 3 3 3px black;
}
header p{
    font-size: 20px;
    text-shadow: 3 3 2px black;
}
.block-a{
    font-size: 20px;
    margin: 20px 0;
    border-top:1px solid gray;
   
    padding: 5px 0; 
}
.block-b{
    font-size: 20px;
    border-bottom:1px solid gray;
    padding: 5px 0; 
    background: #f1f1f1;
}
.footer{
    width:100%;
    padding:20px 0;
    background:gray;
    color: white;
    font-weight: bold;
}
.thumbnail img{
    height: 300px;
    width: 300px;
}
.about_para{
    font-size:18px;
    line-height: 30px;
}